
.rideCard{
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px 0px var(--background);
    color: var(--accent);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}
.rideCard:hover{
    box-shadow: 0px 0px 6px 0px var(--background-dark);
}
.rideInfo{
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
}
.routeInfo{
    flex-grow: 1;
}
.fare{
    background-color: white;
}
.icon{
    font-size: 2rem;
    padding: 0.2rem 1rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    border-top: 1px solid var(--background);
}
.driverInfo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.driverInfo i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.status{
    text-transform: capitalize;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100px;
}
.active{
    color: var(--accent);
    background-color: var(--light);
}
.started{
    color: #d17100;
    background-color: #ffe5c7;
}
.completed{
    color: green;
    background-color: #b4ffb4;
}
.cancelled{
    color: #ff0000;
    background-color: #ffd6d6;
}
